# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [50]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = '\t')

### Step 4. See the first 10 entries

In [3]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
len(df)

4622

In [5]:
# Solution 2
df.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
df.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [27]:
df.groupby('item_name').sum().sort_values('quantity').tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [35]:
df.groupby('item_name').sum().sort_values('quantity').tail(1).iloc[[0],[1]]

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [39]:
df.groupby('choice_description').sum().sort_values('quantity').tail(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [42]:
df.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [52]:
df.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [53]:
df.item_price = df.item_price.apply(lambda x: float(x[1:-1]))

#### Step 13.c. Check the item price type

In [54]:
df.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [55]:
df.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [62]:
df.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [63]:
# Solution 1
df.item_price.sum()/df.order_id.value_counts().count()

18.811428571428575

In [68]:
# Solution 2
df.groupby('order_id').sum().item_price.mean()

18.81142857142869

### Step 17. How many different items are sold?

In [75]:
df.item_name.value_counts().count()

50